:root {
  --blue #007bff;
  --indigo #6610f2;
  --purple #6f42c1;
  --pink #e83e8c;
  --red #dc3545;
  --orange #fd7e14;
  --yellow #ffc107;
  --green #28a745;
  --teal #20c997;
  --cyan #17a2b8;
  --white #fff;
  --gray #6c757d;
  --gray-dark #343a40;
  --primary #917c55;
  --secondary #6c757d;
  --success #28a745;
  --info #17a2b8;
  --warning #ffc107;
  --danger #dc3545;
  --light #f8f9fa;
  --dark #343a40;

  color: #212529;
  background-color: #fff;
  color: #917c55;
  color: #615339;
  color: #6c757d;
  background-color: #fcf8e3;
  color: #6c757d;
  background-color: #fff;
  border: 1px solid #dee2e6;
  color: #6c757d;
  color: #e83e8c;
  color: #fff;
  background-color: #212529;
  color: #212529;
  border-top: 1px solid #dee2e6;
  border-bottom: 2px solid #dee2e6;
  border-top: 2px solid #dee2e6;
  background-color: #fff;
  border: 1px solid #dee2e6;
  border: 1px solid #dee2e6;
  background-color: #e0dacf;
  background-color: #d6cec0;
  background-color: #d6cec0;
  background-color: #d6d8db;
  background-color: #c8cbcf;
  background-color: #c8cbcf;
  background-color: #c3e6cb;
  background-color: #b1dfbb;
  background-color: #b1dfbb;
  background-color: #bee5eb;
  background-color: #abdde5;
  background-color: #abdde5;
  background-color: #ffeeba;
  background-color: #ffe8a1;
  background-color: #ffe8a1;
  background-color: #f5c6cb;
  background-color: #f1b0b7;
  background-color: #f1b0b7;
  background-color: #fdfdfe;
  background-color: #ececf6;
  background-color: #ececf6;
  background-color: #c6c8ca;
  background-color: #b9bbbe;
  background-color: #b9bbbe;
  color: #fff;
  background-color: #212529;
  border-color: #32383e;
  color: #495057;
  background-color: #e9ecef;
  border-color: #dee2e6;
  color: #fff;
  background-color: #212529;
  border-color: #32383e;
  color: #495057;
  background-color: #fff;
  border: 1px solid #ced4da;
  color: #495057;
  background-color: #fff;
  border-color: #80bdff;
  color: #6c757d;
  color: #6c757d;
  color: #6c757d;
  color: #6c757d;
  background-color: #e9ecef;
  color: #495057;
  background-color: #fff;
  color: #6c757d;
  color: #28a745;
  color: #fff;
  border-color: #28a745;
  border-color: #28a745;
  color: #28a745;
  color: #28a745;
  background-color: #71dd8a;
  background-color: #34ce57;
  -webkit-box-shadow: 0 0 0 1px #fff, 0 0 0 0.2rem rgba(40, 167, 69, 0.25);
          box-shadow: 0 0 0 1px #fff, 0 0 0 0.2rem rgba(40, 167, 69, 0.25);
          border-color: #28a745;
  color: #dc3545;
  color: #fff;
  border-color: #dc3545;
  border-color: #dc3545;
  -webkit-box-shadow: 0 0 0 0.2rem rgba(220, 53, 69, 0.25);
          box-shadow: 0 0 0 0.2rem rgba(220, 53, 69, 0.25);
          color: #dc3545;
          color: #dc3545;
  background-color: #efa2a9;
  background-color: #e4606d;
  -webkit-box-shadow: 0 0 0 1px #fff, 0 0 0 0.2rem rgba(220, 53, 69, 0.25);
          box-shadow: 0 0 0 1px #fff, 0 0 0 0.2rem rgba(220, 53, 69, 0.25);
  border-color: #dc3545;
  border-color: inherit;
  color: #fff;
  background-color: #917c55;
  border-color: #917c55;
  color: #fff;
  background-color: #796747;
  border-color: #716142;
  color: #fff;
  background-color: #917c55;
  border-color: #917c55;
  color: #fff;
  background-color: #716142;
  border-color: #695a3d;
  color: #fff;
  background-color: #6c757d;
  border-color: #6c757d;
  color: #fff;
  background-color: #5a6268;
  border-color: #545b62;
  color: #fff;
  background-color: #6c757d;
  border-color: #6c757d;
  color: #fff;
  background-color: #545b62;
  border-color: #4e555b;
  color: #fff;
  background-color: #28a745;
  border-color: #28a745;
  color: #fff;
  background-color: #218838;
  border-color: #1e7e34;
  color: #fff;
  background-color: #28a745;
  border-color: #28a745;
  color: #fff;
  background-color: #1e7e34;
  border-color: #1c7430;
  color: #fff;
  background-color: #17a2b8;
  border-color: #17a2b8;
  color: #fff;
  background-color: #138496;
  border-color: #117a8b;
  color: #fff;
  background-color: #17a2b8;
  border-color: #17a2b8;
  color: #fff;
  background-color: #117a8b;
  border-color: #10707f;
  color: #212529;
  background-color: #ffc107;
  border-color: #ffc107;
  color: #212529;
  background-color: #e0a800;
  border-color: #d39e00;
  color: #212529;
  background-color: #ffc107;
  border-color: #ffc107;
  color: #212529;
  background-color: #d39e00;
  border-color: #c69500;
  color: #fff;
  background-color: #dc3545;
  border-color: #dc3545;
  color: #fff;
  background-color: #c82333;
  border-color: #bd2130;
  color: #fff;
  background-color: #dc3545;
  border-color: #dc3545;
  color: #fff;
  background-color: #bd2130;
  border-color: #b21f2d;
  color: #212529;
  background-color: #f8f9fa;
  border-color: #f8f9fa;
  color: #212529;
  background-color: #e2e6ea;
  border-color: #dae0e5;
  color: #212529;
  background-color: #f8f9fa;
  border-color: #f8f9fa;
  color: #212529;
  background-color: #dae0e5;
  border-color: #d3d9df;
  color: #fff;
  background-color: #343a40;
  border-color: #343a40;
  color: #fff;
  background-color: #23272b;
  border-color: #1d2124;
  color: #fff;
  background-color: #343a40;
  border-color: #343a40;
  color: #fff;
  background-color: #1d2124;
  border-color: #171a1d;
  color: #917c55;
  border-color: #917c55;
  color: #fff;
  background-color: #917c55;
  border-color: #917c55;
  color: #917c55;
  color: #fff;
  background-color: #917c55;
  border-color: #917c55;
  color: #6c757d;
  border-color: #6c757d;
  color: #fff;
  background-color: #6c757d;
  border-color: #6c757d;
  color: #6c757d;
  color: #fff;
  background-color: #6c757d;
  border-color: #6c757d;
  color: #28a745;
  border-color: #28a745;
  color: #fff;
  background-color: #28a745;
  border-color: #28a745;
  color: #28a745;
  color: #fff;
  background-color: #28a745;
  border-color: #28a745;
  color: #17a2b8;
  border-color: #17a2b8;
  color: #fff;
  background-color: #17a2b8;
  border-color: #17a2b8;
  color: #17a2b8;
  color: #fff;
  background-color: #17a2b8;
  border-color: #17a2b8;
  color: #ffc107;
  border-color: #ffc107;
  color: #212529;
  background-color: #ffc107;
  border-color: #ffc107;
  color: #ffc107;
  color: #212529;
  background-color: #ffc107;
  border-color: #ffc107;
  color: #dc3545;
  border-color: #dc3545;
  color: #fff;
  background-color: #dc3545;
  border-color: #dc3545;
  color: #dc3545;
  color: #fff;
  background-color: #dc3545;
  border-color: #dc3545;
  color: #f8f9fa;
  border-color: #f8f9fa;
  color: #212529;
  background-color: #f8f9fa;
  border-color: #f8f9fa;
  color: #f8f9fa;
  background-color: transparent;
  color: #212529;
  background-color: #f8f9fa;
  border-color: #f8f9fa;
  color: #343a40;
  border-color: #343a40;
  color: #fff;
  background-color: #343a40;
  border-color: #343a40;
  color: #343a40;
  color: #fff;
  background-color: #343a40;
  border-color: #343a40;
  color: #917c55;
  color: #615339;
  color: #6c757d;
  color: #212529;
  background-color: #fff;
  border-top: 1px solid #e9ecef;
  color: #212529;
  color: #16181b;
  background-color: #f8f9fa;
  color: #fff;
  background-color: #007bff;
  color: #6c757d;
  color: #6c757d;
  color: #495057;
  background-color: #e9ecef;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  color: #fff;
  background-color: #007bff;
  -webkit-box-shadow: 0 0 0 1px #fff, 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
          box-shadow: 0 0 0 1px #fff, 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
  color: #fff;
  background-color: #b3d7ff;
  color: #6c757d;
  background-color: #e9ecef;
  background-color: #dee2e6;
  background-color: #007bff;
  background-color: #007bff;
  background-color: #007bff;
  color: #495057;
  background: #fff url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 4 5'%3E%3Cpath fill='%23343a40' d='M2 0L0 2h4zm0 5L0 3h4z'/%3E%3C/svg%3E") no-repeat right 0.75rem center;
  border: 1px solid #ced4da;
  border-color: #80bdff;
  color: #495057;
  background-color: #fff;
  color: #6c757d;
  background-color: #e9ecef;
  border-color: #80bdff;
  border-color: #80bdff;
  color: #495057;
  background-color: #fff;
  border: 1px solid #ced4da;
  color: #495057;
  background-color: #e9ecef;
  border-left: 1px solid #ced4da;
  color: #6c757d;
  border-bottom: 1px solid #dee2e6;
  border-color: #e9ecef #e9ecef #dee2e6;
  color: #6c757d;
  color: #495057;
  background-color: #fff;
  border-color: #dee2e6 #dee2e6 #fff;
  color: #fff;
  background-color: #007bff;
  color: #fff;
  color: #fff;
  color: #fff;
  color: #fff;
  color: #fff;
  background-color: #fff;
  background-color: #e9ecef;
  color: #6c757d;
  color: #6c757d;
  color: #007bff;
  background-color: #fff;
  border: 1px solid #dee2e6;
  color: #0056b3;
  text-decoration: none;
  background-color: #e9ecef;
  border-color: #dee2e6;
  color: #fff;
  background-color: #007bff;
  border-color: #007bff;
  color: #6c757d;
  background-color: #fff;
  border-color: #dee2e6;
  color: #fff;
  background-color: #917c55;
  color: #fff;
  background-color: #716142;
  color: #fff;
  background-color: #6c757d;
  color: #fff;
  background-color: #545b62;
  color: #fff;
  background-color: #28a745;
  color: #fff;
  background-color: #1e7e34;
  color: #fff;
  background-color: #17a2b8;
  color: #fff;
  background-color: #117a8b;
  color: #212529;
  background-color: #ffc107;
  color: #212529;
  background-color: #d39e00;
  color: #fff;
  background-color: #dc3545;
  color: #fff;
  background-color: #bd2130;
  color: #212529;
  background-color: #f8f9fa;
  color: #212529;
  background-color: #dae0e5;
  color: #fff;
  background-color: #343a40;
  color: #fff;
  background-color: #1d2124;
  background-color: #e9ecef;
  border-radius: 0.3rem;
  color: #4b402c;
  background-color: #e9e5dd;
  border-color: #e0dacf;
  border-top-color: #d6cec0;
  color: #2b2519;
  color: #383d41;
  background-color: #e2e3e5;
  border-color: #d6d8db;
  border-top-color: #c8cbcf;
  color: #202326;
  color: #155724;
  background-color: #d4edda;
  border-color: #c3e6cb;
  border-top-color: #b1dfbb;
  color: #0b2e13;
  color: #0c5460;
  background-color: #d1ecf1;
  border-color: #bee5eb;
  border-top-color: #abdde5;
  color: #062c33;
  color: #856404;
  background-color: #fff3cd;
  border-color: #ffeeba;
  border-top-color: #ffe8a1;
  color: #533f03;
  color: #721c24;
  background-color: #f8d7da;
  border-color: #f5c6cb;
  border-top-color: #f1b0b7;
  color: #491217;
  color: #818182;
  background-color: #fefefe;
  border-color: #fdfdfe;
  border-top-color: #ececf6;
  color: #686868;
  color: #1b1e21;
  background-color: #d6d8d9;
  border-color: #c6c8ca;
  border-top-color: #b9bbbe;
  color: #040505;
  background-color: #e9ecef;
  border-radius: 0.25rem;
  color: #fff;
  background-color: #007bff;
  color: #495057;
  color: #495057;
  background-color: #f8f9fa;
  color: #212529;
  background-color: #e9ecef;
  background-color: #fff;
  color: #6c757d;
  background-color: #fff;
  color: #fff;
  background-color: #007bff;
  border-color: #007bff;
  color: #4b402c;
  background-color: #e0dacf;
  color: #4b402c;
  background-color: #d6cec0;
  color: #fff;
  background-color: #4b402c;
  border-color: #4b402c;
  color: #383d41;
  background-color: #d6d8db;
  color: #383d41;
  background-color: #c8cbcf;
  color: #fff;
  background-color: #383d41;
  border-color: #383d41;
  color: #155724;
  background-color: #c3e6cb;
  color: #155724;
  background-color: #b1dfbb;
  color: #fff;
  background-color: #155724;
  border-color: #155724;
  color: #0c5460;
  background-color: #bee5eb;
  color: #0c5460;
  background-color: #abdde5;
  color: #fff;
  background-color: #0c5460;
  border-color: #0c5460;
  color: #856404;
  background-color: #ffeeba;
  color: #856404;
  background-color: #ffe8a1;
  color: #fff;
  background-color: #856404;
  border-color: #856404;
  color: #721c24;
  background-color: #f5c6cb;
  color: #721c24;
  background-color: #f1b0b7;
  color: #fff;
  background-color: #721c24;
  border-color: #721c24;
  color: #818182;
  background-color: #fdfdfe;
  color: #818182;
  background-color: #ececf6;
  color: #fff;
  background-color: #818182;
  border-color: #818182;
  color: #1b1e21;
  background-color: #c6c8ca;
  color: #1b1e21;
  background-color: #b9bbbe;
  color: #fff;
  background-color: #1b1e21;
  border-color: #1b1e21;
  color: #000;
  text-shadow: 0 1px 0 #fff;
  color: #000;
  background-color: #fff;
  background-color: #000;
  border-bottom: 1px solid #e9ecef;
  border-top: 1px solid #e9ecef;
  border-top-color: #000;
  border-right-color: #000;
  border-bottom-color: #000;
  border-left-color: #000;
  color: #fff;
  background-color: #000;
  background-color: #fff;
  border-top-color: #fff;
  border-right-color: #fff;
  border-bottom-color: #fff;
  border-bottom: 1px solid #f7f7f7;
  border-left-color: #fff;
  background-color: #f7f7f7;
  border-bottom: 1px solid #ebebeb;
  color: #212529;
  color: #fff;
  color: #fff;
  background-color: #fff;
  color: #fff;
  background-color: #917c55 !important;
  background-color: #716142 !important;
  background-color: #6c757d !important;
  background-color: #545b62 !important;
  background-color: #28a745 !important;
  background-color: #1e7e34 !important;
  background-color: #17a2b8 !important;
  background-color: #117a8b !important;
  background-color: #ffc107 !important;
  background-color: #d39e00 !important;
  background-color: #dc3545 !important;
  background-color: #bd2130 !important;
  background-color: #f8f9fa !important;
  background-color: #dae0e5 !important;
  background-color: #343a40 !important;
  background-color: #1d2124 !important;
  background-color: #fff !important;
  border: 1px solid #dee2e6 !important;
  border-top: 1px solid #dee2e6 !important;
  border-right: 1px solid #dee2e6 !important;
  border-bottom: 1px solid #dee2e6 !important;
  border-left: 1px solid #dee2e6 !important;
  border-color: #917c55 !important;
  border-color: #6c757d !important;
  border-color: #28a745 !important;
  border-color: #17a2b8 !important;
  border-color: #ffc107 !important;
  border-color: #dc3545 !important;
  border-color: #f8f9fa !important;
  border-color: #343a40 !important;
  border-color: #fff !important;
  color: #fff !important;
  color: #917c55 !important;
  color: #716142 !important;
  color: #6c757d !important;
  color: #545b62 !important;
  color: #28a745 !important;
  color: #1e7e34 !important;
  color: #17a2b8 !important;
  color: #117a8b !important;
  color: #ffc107 !important;
  color: #d39e00 !important;
  color: #dc3545 !important;
  color: #bd2130 !important;
  color: #f8f9fa !important;
  color: #dae0e5 !important;
  color: #343a40 !important;
  color: #1d2124 !important;
  color: #6c757d !important;
  border: 1px solid #999;
  border: 1px solid #000;
  background-color: #fff !important;
  border: 1px solid #ddd !important;
  background: #cbbea6;
  color: #fff;
  font-size: 1.25em;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
  border-right: 1px solid #fff;
  border-left: 1px solid #fff;
  color: #FFFFFF;
  background: #f2f2f2;
  color: #888;
  color: #3b5998;
  color: #1da1f2;
  color: #dd4b39;
  color: #405de6;
  color: #aaa;
